{% extends "base.html" %}
{% block title %}Demo Page{% endblock %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row flex-fill">
        <div class="col-md-6 offset-md-3">
            <h1 class="card-title text-center logo mb-3">Welcome to onbogo!</h1>
            <p class="fs-6 lh-1 text-secondary">Where saving money on groceries is a pleasure. <br><br> Simply follow the steps below to be notified when your favorite groceries go on sale.</p>
            
            <br>
            
            <div class="card shadow">
                <div class="card-body">
                    <p class="fw-medium fs-5 lh-1 text-secondary">1. Create a profile</p>
                    <hr>
                    <br>
                    <img src="../static/images/1.profile.png" alt="" class="card-img-top img-fluid">
                </div>
            </div>
            
            <br>
            
            <div class="card shadow">
                <div class="card-body">
                    <p class="fw-medium fs-5 lh-1 text-secondary">2. Select a store</p>
                    <hr>
                    <br>
                    <img src="../static/images/2.store.png" alt="" class="card-img-top img-fluid">
                </div>
            </div>

            <br>
            
            <div class="card shadow">
                <div class="card-body">
                    <p class="fw-medium fs-5 lh-1 text-secondary">3. Save your favorite groceries</p>
                    <hr>
                    <br>
                    <img src="../static/images/3.sales.png" alt="" class="card-img-top img-fluid">
                </div>
            </div>

            <br>
            
            <div class="card shadow">
                <div class="card-body">
                    <p class="fw-medium fs-5 lh-1 text-secondary">4. Get notified of new sales every Thursday (or on demand)</p>
                    <hr>
                    <br>
                    <img src="../static/images/4.Alert.png" alt="" class="card-img-top img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}