{% extends "base.html" %}
{% block title %}Register Page{% endblock %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row flex-fill">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <!-- <img src="https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                    alt="" class="card-img-top"> -->
                <div class="card-body">
                    <h5 class="card-title logo">register</h5>

                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">username</label>
                            <input class="form-control" type="username" name="username" id="username" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">email</label>
                            <input class="form-control" type="email" name="email" id="email" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password1">password</label>
                            <input class="form-control" type="password" name="password1" id="password1" placeholder="enter password" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password2">password (confirm)</label>
                            <input class="form-control" type="password" name="password2" id="password2" placeholder="confirm password" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="access_code">Access Code</label>
                            <input class="form-control" type="password" name="access_code" id="access_code" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-secondary btn-block logo">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}