{% extends "base.html" %}
{% block title %}Sales Page{% endblock %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row flex-fill">
        <h1 class="text-center logo">Welcome back, {{ session["user"]["username"] }}</h1>
        <div class="col-md-6 offset-md-3">
            <hr>
            <div class="card-body">
                <div class="card-top txt-black">
                    <h5 class="card-title text-center logo">my shopping list</h5>
                    <br>
                    <div class="mb-3 d-grid">
                        <ul class="items-list mx-auto justify-content-left">
                            {% for item in session["user"]["favs"] %}
                                <form action="/remove" method="POST" class="validated-form" novalidate>
                                    <input name="{{ item }}" id="{{ item }}" value="{{ item }}" hidden>
                                    <li><button class="btn-none items" type="submit">{{ item }}</button></li>
                                </form>
                            {% endfor %}
                        </ul>               
                    </div>
                    {% if session["user"]["favs"]|length > 0: %}
                        <p class="text-secondary text-center fst-italic">NOTE: click item to remove from list</p>
                    {% else: %}
                        <p class="text-secondary text-center opacity-50 fst-italic">Add items to your list below</p>
                    {% endif %} 
                </div>
                <hr>
                <br>
                <form action="/sales" method="POST" class="validated-form" novalidate>
                    <div class="mb-3">
                        <input class="form-control" type="item" name="item" id="item" placeholder="e.g. bacon, Sweet Baby Ray's, deli" required>
                    </div>
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-secondary logo">add item</button>
                    </div>
                </form>

                <div class="btn-box">

                    <div class="mb-3">
                        <form action="/locate" method="POST" class="validated-form" novalidate>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-outline-secondary btn-block logo">select store<span class="text-secondary">*</span></button>
                            </div>
                        </form>
                    </div>

                    <div class="mb-3">
                        <form action="/find" method="POST" class="validated-form" novalidate>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-outline-secondary btn-block logo">find my sales!</button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <hr>  
                                  
                {% if stores %}
                <div class="mb-3">
                    <h3>Select a store to save:</h3>
                    <br>
                    {% for store in stores %}   
                    <p class="fw-medium fs-5 lh-1 text-secondary">{{ store.title }}</p>
                    <p class="fw-light fs-6 lh-1 text-secondary">{{ store.address }}</p>
                        <form action="/select" method="POST" class="validated-form" novalidate>
                            <input name="{{ store }}" id="{{ store }}" value="{{ store }}" hidden>
                            <div class="container d-flex justify-content-center align-items-center">
                                <button class="btn btn-secondary btn-store logo" type="submit">Save</button>
                            </div>
                        </form>
                        <br>
                    {% endfor %}
                </div>
                <hr>
                {% endif %}

                {% if loading: %}
                <div class="mb-3 text-center my_sale_items">
                    <br>
                    <h5>
                        <a id="my_sale_items">– My Sales –</a>
                    </h5>
                    <br>
                    {% if my_sale_items|length > 0: %}
                    <div class="mb-3 d-grid col-md-6 offset-md-3 txt-black">
                        <ul class="items-list mx-3 justify-content-left">
                            {% for item in my_sale_items %}            
                            <li class="items">{{ item["title"] }}</li>
                            <li class="fw-light fs-6 lh-1 text-secondary items-deals mb-3">{{ item["deal"] }}</li>
                            {% endfor %}
                        </ul>               
                    </div>
                    {% else: %}
                    <div class="mb-3 d-grid col-md-6 offset-md-3"></div>
                        <h5 class="txt-black">
                            <a id="my_sale_items">no bogo items found matching your list</a>
                        </h5>
                        <br>
                    </div>
                    {% endif %}
                </div>
                <hr>
                {% endif %}
                

                

                <div class="mb-3 text-center">
                    {% if my_store["store_id"] %}
                        <h5>– My Store –</h5>
                        <br>
                        <p class="fw-medium fs-5 lh-1 text-secondary">{{ my_store["title"] }}</p>
                        <p class="fw-light fs-6 lh-1 text-secondary">{{ my_store["address"] }}</p>
                    {% else %}
                        <br>
                        <p class="text-secondary opacity-50">Selected store will display here</p>
                    {% endif %}
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}